.pfp:active {
    rotate: 7200deg;
    transform: scale(1.15);
    transition: all 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}

.noscript {
    display: initial;
}

.scriptEnabled {
    display: none;
}