/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap'); */

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    text-align: center;
}

h1 {
    color: rgb(225, 215, 255);
    font-size: 2.5rem;
    margin-top: 20px;
}

h2 {
    color: white;
    font-size: 2rem;
}

body {
    margin: auto;
    background-color: rgb(10, 5, 20);
    max-width: 1100px;
}

#maindiv {
    animation-name: fade-in;
    animation-duration: .75s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

a {
    color: rgb(230, 175, 255);
    text-decoration: none;
    display: inline-block;
    transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chip {
    font-size: 1.3rem;
    border: 2px gray solid;
    border-radius: 8px;
    background-color: black;
    padding: 8px;
    margin: 3px;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* transform: scale(0.95) */
}

.chip:hover {
    /* background-color: rgb(20, 10, 30); */
    /* transform: scale(1); */
    font-size: 1.35rem;
    border-color: white;
}

a:hover {
    color: white;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

p {
    color: white;
    font-size: 1.2rem;
    padding: 0;
    margin: 10px;
}

img {
    width: 60%;
    max-width: 135px;
    border: darkgray 4px solid;
    border-radius: 50%;
    transform: scale(0.95);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

img:hover {
    transform: scale(1.05);
    border-color: rgb(255, 200, 255);
    object-fit: cover;
}

hr {
    color: white;
    opacity: 0.25;
    border-width: 2px;
    margin: 20px 10%;
}

#card {
    background-image: linear-gradient(-45deg, rgb(75, 25, 125), rgb(100, 30, 100));
    background-color: rgb(50, 25, 100);
    padding: 15px;
    border: 2px white solid;
    margin: auto;
    max-width: 90%;
}

/* I am so sorry about this code,,, */

.love::before {
    content: "<3 ";
    color: rgb(255, 100, 150);
}

.like::before {
    content: ":) ";
    color: limegreen;
}

.silly::before {
    content: ":P ";
    color: aqua;
}

.fine::before {
    content: ":/ ";
    color: yellow;
}

.hate::before {
    content: ">:( ";
    color: red;
}

.love {
    border-color: rgb(255, 100, 150);
}

.like {
    border-color: limegreen;
}

.silly {
    border-color: aqua;
}

.fine {
    border-color: yellow;
}

.hate {
    border-color: red;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20%);
        background-color: black;
    }

    100% {
        opacity: 1;
        transform: none;
        background-color: rgb(15, 5, 30);
    }
}