
#card {
    background-color: rgba(50, 0, 90, 0.5);
    /* backdrop-filter: blur(5px); */
}
.rainStuff {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 0;
    pointer-events: none;
}

.rainContainer {
    height: 100vh;
    width: 95vw;
    top: 0px;
    left: 2.5vw;
    position: absolute;
    overflow: hidden;
}

.rainDrop {
    position: absolute;
    width: 5px;
    background-color: rgba(0, 0, 255, 0.2);
    height: 10vh;
    visibility: hidden;
}

body {
    background: linear-gradient(rgb(10, 10, 75), black);
}